/*===========================================
// Import partials
//==========================================*/
/*===========================================
// Utilities partials
//==========================================*/
/*===========================================
// Variables
//==========================================*/
/*===========================================
// Mixins
//==========================================*/
.bell {
  width: 25px;
  height: 25px;
  order: 0;
  padding-top: 1px; }
  .bell:hover {
    cursor: pointer; }
  @media (min-width: 768px) {
    .bell {
      order: 1; } }

.bell .number {
  font-size: 14px;
  padding-right: 1px;
  position: absolute;
  margin-top: -38px;
  margin-left: 8px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ff2c74;
  color: #fff;
  line-height: 20px;
  font-family: "Niramit", sans-serif;
  text-align: center;
  right: 50px;
  top: 55px; }
  @media (min-width: 768px) {
    .bell .number {
      right: 198px;
      top: 68px; } }

.profile {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  order: 1; }

.note-photo-1, .note-photo-2, .note-photo-3 {
  border-radius: 50%;
  height: 25px;
  width: 25px;
  margin-right: 15px;
  line-height: 24px;
  text-align: center; }

.alert .fa, .alert .fas {
  padding: 1.5px 4px 0 0; }
  .alert .fa:hover, .alert .fas:hover {
    cursor: pointer; }

.member__photo--1, .member__photo--2, .member__photo--3, .member__photo--4 {
  align-self: center;
  border-radius: 50%;
  height: 30px;
  margin: 0 10px 0 5px;
  width: 30px;
  border: 3px solid #7377bf; }

.twitter--image,
.facebook--image,
.google--image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  background: #7377bf;
  border-radius: 50%;
  margin: auto 15px auto 15px; }

.twitter--svg {
  width: 36px;
  height: 29px;
  background: #7377bf; }

.facebook--svg {
  width: 36px;
  height: 36px;
  background: #7377bf; }

.google--svg {
  width: 30px;
  height: 30px;
  background: #7377bf; }

.icon--news,
.icon--userstats,
.icon--charts,
.icon--settings {
  height: 25px;
  width: 25px;
  padding: 10px 25px; }
  .icon--news:hover svg path,
  .icon--userstats:hover svg path,
  .icon--charts:hover svg path,
  .icon--settings:hover svg path, .icon--news:hover,
  .icon--userstats:hover,
  .icon--charts:hover,
  .icon--settings:hover {
    cursor: pointer;
    fill: #fff;
    border-bottom: 2px solid lightgreen;
    padding-bottom: 8px; }
    @media (min-width: 1024px) {
      .icon--news:hover svg path,
      .icon--userstats:hover svg path,
      .icon--charts:hover svg path,
      .icon--settings:hover svg path, .icon--news:hover,
      .icon--userstats:hover,
      .icon--charts:hover,
      .icon--settings:hover {
        border-bottom: none;
        padding: 10px 25px 10px 23px;
        border-left: 2px solid lightgreen; } }
  @media (min-width: 1024px) {
    .icon--news,
    .icon--userstats,
    .icon--charts,
    .icon--settings {
      margin-bottom: 20px; } }

.icon--news {
  padding: 10px 25px 8px 25px;
  border-bottom: 2px solid lightgreen; }
  @media (min-width: 1024px) {
    .icon--news {
      margin-top: 20px;
      padding: 10px 25px 10px 23px;
      border-bottom: none;
      border-left: 2px solid lightgreen; } }

.mail {
  color: #7377bf;
  text-decoration: none; }

/*===========================================
// Base partials
//==========================================*/
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

body {
  background: #000;
  color: grey;
  font-family: "Niramit", sans-serif; }

main {
  margin-bottom: 70px; }
  @media (min-width: 1024px) {
    main {
      display: flex;
      flex-direction: row; } }

/*===========================================
// Layout partials
//==========================================*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  width: 100%;
  margin-top: 0;
  padding: 0;
  background: #30343f; }
  @media (min-width: 768px) {
    header {
      height: 100px; } }
  header h1 {
    font-family: "Cabin", sans-serif;
    margin: 0 0 0 10px;
    color: #fff;
    display: block;
    text-align: center;
    font-size: 22px;
    font-weight: 700; }
    @media (min-width: 768px) {
      header h1 {
        font-size: 20px;
        margin: 0 0 0 20px; } }
  header span {
    font-weight: 300;
    font-family: "Raleway", sans-serif;
    color: #fff; }

.container--header {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (min-width: 768px) {
    .container--header {
      justify-content: flex-end; } }

@media (min-width: 1024px) {
  .container--area {
    margin: 10px 0 0 0;
    padding: 0 0 20px 0;
    width: 100%;
    border-bottom: 1px solid grey; } }
.container--user {
  margin: 0 10px 0 15px; }
  @media (min-width: 768px) {
    .container--user {
      order: 5;
      display: flex;
      align-items: center;
      margin-right: 20px;
      padding: 5px 0 5px 15px;
      border-left: 1px solid grey; } }
  .container--user:hover {
    cursor: pointer; }
@media (min-width: 768px) {
  .container--charts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 240px; } }
@media (min-width: 1024px) {
  .container--charts {
    height: 300px;
    border-bottom: 1px solid grey;
    justify-content: space-around; } }
.container--daily {
  border-top: 1px solid grey;
  margin-bottom: 20px;
  padding-top: 5px; }
  @media (min-width: 768px) {
    .container--daily {
      width: 50%;
      height: 225px;
      margin-bottom: 0;
      padding-top: 0;
      border-bottom: 1px solid grey; } }
  @media (min-width: 1024px) {
    .container--daily {
      border-bottom: none;
      border-top: none;
      padding: 10px 0 0 0; } }
.container--mobile {
  padding: 10px 0 20px 0;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey; }
  @media (min-width: 768px) {
    .container--mobile {
      width: calc(50% - 50px);
      height: 200px;
      border-left: 1px solid grey;
      padding: 5px 50px 20px 0; } }
  @media (min-width: 1024px) {
    .container--mobile {
      padding-top: 10px;
      border-bottom: none;
      border-top: none;
      height: auto; } }
.container--search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px; }
  .container--search h2 {
    margin: 0;
    padding: 6px 0px 10px 2px; }
    @media (min-width: 1024px) {
      .container--search h2 {
        margin-left: 20px; } }
  .container--search fieldset {
    padding: 9px 2px 10px 10px;
    border-bottom: 1px solid grey;
    border-left: 1px solid grey; }
    @media (min-width: 768px) {
      .container--search fieldset {
        padding: 9px 15px 10px 285px; } }
    @media (min-width: 1024px) {
      .container--search fieldset {
        padding-left: calc(40% + 10px); } }
    @media (min-width: 1100px) {
      .container--search fieldset {
        padding-left: calc(40% + 25px); } }

.alert {
  display: flex;
  justify-content: space-between;
  color: #fff;
  background: #7377bf;
  border-radius: 3px;
  margin: 0 auto 20px auto;
  padding: 5px;
  width: 90%; }
  @media (min-width: 768px) {
    .alert {
      width: 95%; } }

.container--traffic {
  display: flex;
  flex-direction: column; }
  @media (min-width: 768px) {
    .container--traffic {
      display: flex;
      flex-direction: row;
      justify-content: space-between; } }
  @media (min-width: 1024px) {
    .container--traffic {
      margin-right: 20px; } }
  .container--traffic h2 {
    order: 2; }
    @media (min-width: 768px) {
      .container--traffic h2 {
        order: 0; } }

.container--traffic h2,
.container--daily h2,
.container--mobile h2 {
  text-transform: uppercase;
  font-size: 13px;
  margin-left: 5px;
  font-weight: bold; }
  @media (min-width: 768px) {
    .container--traffic h2,
    .container--daily h2,
    .container--mobile h2 {
      margin-left: 10px; } }

@media (min-width: 1024px) {
  .container--traffic h2 {
    margin-left: 20px; } }

@media (min-width: 768px) {
  .container--daily h2 {
    margin-top: 15px; } }
@media (min-width: 1024px) {
  .container--daily h2 {
    margin: 11px 0 20px 15px; } }

@media (min-width: 1024px) {
  .container--mobile h2 {
    margin-left: 30px; } }

@media (min-width: 768px) {
  #firstChart {
    width: 97% !important;
    height: 342px !important;
    margin: 18px auto; } }
@media (min-width: 1024px) {
  #firstChart {
    width: 96% !important;
    height: 342px !important;
    margin: 0 auto; } }
@media (min-width: 1100px) {
  #firstChart {
    width: 90% !important;
    height: 420px !important; } }

@media (min-width: 768px) {
  #dailyTraffic {
    width: 97% !important;
    height: 175px !important;
    margin: 5px auto; } }
@media (min-width: 1024px) {
  #dailyTraffic {
    width: 93% !important;
    height: 224px !important; } }
@media (min-width: 1100px) {
  #dailyTraffic {
    width: 83% !important;
    height: 235px !important; } }

@media (min-width: 1024px) {
  #mobileDoughnut {
    margin-top: 15px; } }
@media (min-width: 1100px) {
  #mobileDoughnut {
    width: 75% !important;
    height: 85% !important; } }

@media (min-width: 768px) {
  .container--social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px; } }
@media (min-width: 1024px) {
  .container--social {
    justify-content: space-around;
    margin-bottom: 35px; } }

.container--twitter,
.container--facebook,
.container--google {
  display: flex;
  flex-direction: row;
  background: #2e302f;
  border-radius: 5px;
  margin: 0 10px 10px 10px;
  border: 1px solid grey; }
  @media (min-width: 768px) {
    .container--twitter,
    .container--facebook,
    .container--google {
      width: 30%;
      flex-wrap: wrap; } }

.twitter--stats,
.facebook--stats,
.google--stats {
  display: flex;
  flex-direction: column; }

.user__activity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px; }
  @media (min-width: 768px) {
    .user__activity {
      flex-direction: row; } }

.new--members {
  margin-bottom: 40px;
  width: 100%;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey; }
  @media (min-width: 768px) {
    .new--members {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
      border-bottom: none; } }
  @media (min-width: 1024px) {
    .new--members {
      margin-bottom: 0; } }
  .new--members:first-of-type {
    border-bottom: none;
    margin-bottom: 5px; }
    @media (min-width: 768px) {
      .new--members:first-of-type {
        border-right: 1px solid grey;
        margin-bottom: 0px;
        justify-content: space-between; }
        .new--members:first-of-type .member--1, .new--members:first-of-type .member--2, .new--members:first-of-type .member--3, .new--members:first-of-type .member--4 {
          padding-bottom: 7px; }
        .new--members:first-of-type .member--4 {
          padding-bottom: 10px; } }
    @media (min-width: 1024px) {
      .new--members:first-of-type {
        display: flex;
        justify-content: space-between; } }
  .new--members:last-of-type {
    margin-bottom: 20px; }
    @media (min-width: 768px) {
      .new--members:last-of-type {
        margin-bottom: 0;
        justify-content: space-between; } }
  .new--members a:hover {
    cursor: pointer; }
  .new--members h4 {
    margin: 15px 0 0px 15px; }

.member--1, .member--2, .member--3 {
  border-bottom: 1px solid grey;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 10px 0 10px; }
  @media (min-width: 1024px) {
    .member--1, .member--2, .member--3 {
      font-size: 14px; } }
  .member--1 p:first-of-type, .member--2 p:first-of-type, .member--3 p:first-of-type {
    margin: 15px 0 0 0; }
    @media (min-width: 768px) {
      .member--1 p:first-of-type, .member--2 p:first-of-type, .member--3 p:first-of-type {
        font-size: 14px; } }
  .member--1 p, .member--2 p, .member--3 p {
    font-size: 13px;
    margin: 0; }
  .member--1 p:last-of-type, .member--2 p:last-of-type, .member--3 p:last-of-type {
    margin-bottom: 15px;
    margin-left: auto; }
  @media (min-width: 1024px) {
    .member--1:last-of-type, .member--2:last-of-type, .member--3:last-of-type {
      padding-bottom: 5px; } }
.member--4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 65px;
  margin: 0 10px 0 10px; }
  @media (min-width: 1024px) {
    .member--4 {
      font-size: 14px; } }
  .member--4 p:first-of-type {
    margin: 15px 0 0 0; }
    @media (min-width: 768px) {
      .member--4 p:first-of-type {
        font-size: 14px; } }
  .member--4 p {
    font-size: 13px;
    margin: 0; }
  .member--4 p:last-of-type {
    margin-bottom: 15px;
    margin-left: auto; }

.r1 {
  padding: 6px 0; }
  @media (min-width: 768px) {
    .r1 {
      margin: -4px 10px 6px 10px;
      padding: 0 0 5px 0; } }

.r2 {
  padding: 6px 0; }
  @media (min-width: 768px) {
    .r2 {
      margin: -10px 10px -4px 10px;
      padding: 0 0 6px 0; } }

.r3 {
  padding: 6px 0; }
  @media (min-width: 768px) {
    .r3 {
      margin: 0 10px 2px 10px;
      padding: 0 0 4px 0; } }

.r4 {
  padding: 6px 0; }
  @media (min-width: 768px) {
    .r4 {
      margin: -8px 10px 5px 10px;
      padding: 0 0 6px 0; } }
  @media (min-width: 1024px) {
    .r4 {
      padding-bottom: 1px; } }

.date {
  display: none; }
  @media (min-width: 768px) {
    .date {
      display: block; } }

@media (min-width: 1024px) {
  .new--members a:last-of-type {
    padding-bottom: 5px; } }

.message--user {
  display: flex;
  flex-direction: column; }

.switch-ios.switch-toggle {
  background-color: #000;
  width: 100%;
  font-weight: bold;
  font-size: 13px;
  height: 32px; }
  @media (min-width: 768px) {
    .switch-ios.switch-toggle {
      width: 40%; } }

.switch-toggle label:hover {
  cursor: pointer; }

.switch-ios input:checked + label {
  color: #fff;
  outline: 0; }

.switch-ios.switch-toggle a {
  border: none; }

.switch-light {
  outline: 0;
  width: 60%;
  margin-left: 30px; }
  @media (min-width: 768px) {
    .switch-light {
      width: 55%; } }

.switch-ios.switch-light input:checked ~ span {
  border-color: #7377bf;
  box-shadow: inset 0 0 0 30px #7377bf; }
  .switch-ios.switch-light input:checked ~ span a {
    border-color: #7377bf; }

.switch-ios.switch-light > span:hover {
  cursor: pointer; }
@media (min-width: 768px) {
  .switch-ios.switch-light > span {
    width: 90%; } }
@media (min-width: 1024px) {
  .switch-ios.switch-light > span {
    width: 70%; } }

.switch-ios.switch-light > span span {
  top: 1px;
  font-weight: bold; }

.switch-ios.switch-light input ~ span a {
  outline: 0; }

.switch-ios.switch-light input:checked ~ span a {
  outline: 0; }

.settings--notifications,
.public {
  margin: 0 0 10px 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  @media (min-width: 768px) {
    .settings--notifications,
    .public {
      margin-top: 6px;
      justify-content: flex-start; } }
  @media (min-width: 1024px) {
    .settings--notifications,
    .public {
      margin: 5px 0 7px 5px; } }

.settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid grey;
  margin-top: 20px; }
  @media (min-width: 768px) {
    .settings {
      margin: 0;
      padding: 0 0 30px 8px;
      border-top: none;
      border-left: 1px solid grey;
      width: 48%; } }
  @media (min-width: 1024px) {
    .settings {
      padding-left: 7px;
      width: 49%; } }
  @media (min-width: 768px) {
    .settings h4 {
      margin: 20px 0 5px 0; } }

.center {
  display: flex;
  justify-content: center; }
  @media (min-width: 768px) {
    .center #save {
      margin-right: 10px; } }
  @media (min-width: 1100px) {
    .center #save {
      margin: 20px 20px 20px 8px; } }
  @media (min-width: 1100px) {
    .center {
      justify-content: space-around; } }

@media (min-width: 768px) {
  .message-settings {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid grey; } }
  @media (min-width: 768px) and (min-width: 768px) {
    .message-settings fieldset {
      width: 47%;
      margin-top: 20px; } }
  @media (min-width: 768px) and (min-width: 1024px) {
    .message-settings fieldset {
      padding: 0 10px; } }

.settings--p {
  font-size: 14px; }
  @media (min-width: 768px) {
    .settings--p {
      width: 52%;
      margin-right: -50px; } }
  @media (min-width: 1024px) {
    .settings--p {
      width: 44%; } }

.onoff {
  width: 50%; }
  @media (min-width: 768px) {
    .onoff {
      width: 51%; } }
  @media (min-width: 1024px) {
    .onoff {
      width: 50%; } }

@media (min-width: 1024px) {
  .main-content {
    width: 100%; } }

@-moz-document url-prefix() {
  @media (min-width: 768px) {
    .message--user {
      margin-top: -42px; } } }
/*===========================================
// Components partials
//==========================================*/
.user--name {
  display: none;
  color: #fff;
  font-size: 13px; }
  @media (min-width: 768px) {
    .user--name {
      display: block;
      order: 2;
      margin-left: 12px; } }

.twitter--stats h3,
.facebook--stats h3,
.google--stats h3 {
  margin: 10px 0 0 0;
  color: #7377bf; }
.twitter--stats span,
.facebook--stats span,
.google--stats span {
  margin: 0 0 10px 0;
  font-size: 40px;
  font-weight: lighter; }

h4 {
  text-transform: uppercase;
  margin-left: 0;
  font-family: "Niramit", sans-serif;
  font-size: 14px; }
  @media (min-width: 768px) {
    h4 {
      margin: 0 0 5px 15px; } }

.container--charts + h4 {
  margin-left: 5px; }
  @media (min-width: 1024px) {
    .container--charts + h4 {
      margin: 20px 0 20px 20px; } }

.settings > h4 {
  margin-left: 5px; }

.close {
  border: 1px solid white;
  font-weight: bold;
  padding: 0px 10px 0px 10px; }
  .close:hover {
    cursor: pointer; }

.error-alert {
  color: red; }
  @media (min-width: 768px) {
    .error-alert {
      margin-bottom: -35px; } }

.success-alert {
  color: lightgreen; }
  @media (min-width: 768px) {
    .success-alert {
      margin-bottom: -20px; } }

.settings-saved {
  color: lightgreen;
  margin: 1px 0 -20px 10px; }

/* sidebar nav */
.navigation--sidebar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: #232730;
  height: 50px;
  overflow: hidden;
  z-index: 1000000; }
  @media (min-width: 1024px) {
    .navigation--sidebar {
      display: flex;
      flex-direction: column;
      justify-content: start;
      height: 100%; } }

.sticky-nav {
  position: fixed;
  top: 0;
  width: 100%; }
  @media (min-width: 1024px) {
    .sticky-nav {
      width: 75px; } }

.stick-nav + main {
  padding-top: 60px; }

.box {
  z-index: 1000;
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translate(-50%, -50%); }
  @media (min-width: 768px) {
    .box {
      left: 53%; } }
  @media (min-width: 1024px) {
    .box {
      left: 65%; } }
  @media (min-width: 1100px) {
    .box {
      left: 75%; } }

.notifications {
  width: 250px;
  height: 60px;
  text-align: left;
  padding: 0 15px;
  background: #7377bf;
  transform: translateY(-100%);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); }
  @media (min-width: 768px) {
    .notifications {
      width: 300px; } }

.note-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 13px; }

.exit-box {
  padding: 10px 15px 10px 15px; }
  .exit-box:hover {
    cursor: pointer;
    background-color: #6064a2; }

.exit-box .fa-times {
  color: #fff;
  font-size: 18px; }

.notifications .num {
  color: #fff;
  font-family: sans-serif;
  text-align: center;
  font-size: 24px; }

ul {
  position: absolute;
  left: 0;
  top: 60px;
  margin: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  padding: 5px 10px 15px 10px;
  box-sizing: border-box;
  display: block; }

ul li {
  list-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 8px 0;
  display: flex; }

ul li:last-child {
  border-bottom: none; }

ul li .text {
  position: relative;
  font-family: sans-serif;
  color: #000;
  top: 3px;
  cursor: pointer; }

.bell svg {
  transform: perspective(1px) translateZ(0);
  transform-origin: center center;
  transition: 0.3s ease-out transform; }
.bell:hover svg {
  transform: rotate(15deg); }

.fa-angle-right {
  color: #7377bf;
  font-size: 30px; }

.arrow:last-of-type {
  margin-left: auto; }

legend {
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 0 10px 3px;
  font-size: 14px; }

fieldset {
  border: none;
  padding: 0; }
  @media (min-width: 768px) {
    fieldset {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 40%; } }

#searchbar {
  background: #2e302f;
  border: none;
  caret-color: grey;
  color: #fff;
  outline: 0;
  margin: 2px 0;
  padding: 5px 0 5px 10px;
  font-size: 12px; }

#searchuser,
#message,
select {
  background: #2e302f;
  border: 1px solid grey;
  caret-color: grey;
  color: #fff;
  outline: 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 5px 0;
  padding: 8px;
  resize: none; }

#searchuser {
  margin-bottom: 10px;
  width: 99%; }
  @media (min-width: 768px) {
    #searchuser {
      margin-top: 10px;
      width: 100%; } }

#message {
  height: 80px;
  margin-bottom: 14px;
  width: 93%; }
  @media (min-width: 768px) {
    #message {
      height: 103px;
      width: inherit; } }

#submit {
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  outline: 0;
  padding: 12px;
  text-transform: uppercase;
  background: #7377bf;
  margin: 5px 2px; }
  #submit:hover {
    cursor: pointer; }
  @media (min-width: 768px) {
    #submit {
      margin: 5.5px 0 5px 0; } }

select {
  background: #2e302f;
  color: grey;
  width: 98%;
  margin-left: 2px; }
  @media (min-width: 768px) {
    select {
      margin: 20px auto 0 auto; } }
  @media (min-width: 1024px) {
    select {
      margin: 28px 7px 0 auto; } }

#save, #cancel {
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  outline: 0;
  padding: 12px;
  text-transform: uppercase;
  background: #2e302f;
  margin: 20px 0;
  width: 45%; }
  #save:hover, #cancel:hover {
    cursor: pointer; }
  @media (min-width: 768px) {
    #save, #cancel {
      width: 50%; } }

#save {
  background: #7377bf;
  margin-right: 20px; }

#cancel {
  margin-right: 7px; }

.autofill {
  position: relative;
  display: inline-block; }

.autofill-items {
  position: absolute;
  margin-top: -10px;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0; }

.autofill-items div {
  padding: 10px;
  cursor: pointer;
  background: #000;
  border-bottom: 1px solid #d4d4d4; }

.autofill-items div:hover {
  /*hovering an item in autocomplete:*/
  background: #303030; }

.autofill-active {
  /*using the up and down arrow keys in autocomplete:*/
  background: #7377bf !important;
  color: #fff; }

.inner-addon {
  background: #2e302f;
  border: 1px solid grey;
  border-radius: 3px;
  margin: 3px auto;
  padding: 4px 0;
  position: relative; }

/* style search icon */
.inner-addon .fa-search {
  position: absolute;
  padding: 5px 10px 5px 0px;
  pointer-events: none; }

/* align search icon */
.right-addon .fa-search {
  right: 0px;
  color: #7377bf; }

.right-addon input {
  padding-right: 30px; }

_:-ms-lang(x), .inner-addon .fa-search {
  padding: 10px 10px 0px 0px; }

_:-ms-lang(x), .inner-addon {
  padding: 0; }

_:-ms-lang(x), .settings--p {
  margin-top: 4px; }

/*# sourceMappingURL=styles.css.map */
