
.container {
  &--area {
    @include medq("medium") {
    // margin: 5px auto 15px auto;
    // width: calc(90% - 50px);
    }
    @include medq("large") {
      margin: 10px 0 0 0;
      padding: 0 0 20px 0;
      width: 100%;
      border-bottom: $primary-border;
    }
  }
  &--user {
    margin: 0 10px 0 15px;
    @include medq("medium") {
      order: 5;
      @include flexify($align: center);
      margin-right: 20px;
      padding: 5px 0 5px 15px;
      border-left: $primary-border;
    }
    &:hover {
      cursor: pointer;
    }
  }
  &--charts {
    @include medq("medium") {
      @include flexify($just: center, $dir: row);
      height: 240px;
    }
    @include medq("large") {
      height: 300px;
      border-bottom: $primary-border;
      justify-content: space-around;
    }
  }
  &--daily {
    border-top: $primary-border;
    margin-bottom: 20px;
    padding-top: 5px;
    @include medq("medium") {
    width: 50%;
    height: 225px;
    margin-bottom: 0;
    padding-top: 0;
    border-bottom: $primary-border;
    }
    @include medq("large") {
      border-bottom: none;
      border-top: none;
      padding: 10px 0 0 0;
    }
  }
  &--mobile {
    padding: 10px 0 20px 0;
    border-top: $primary-border;
    border-bottom: $primary-border;
    @include medq("medium") {
    width: calc(50% - 50px);
    height: 200px;
    border-left: $primary-border;
    padding: 5px 50px 20px 0;
    }
    @include medq("large") {
      padding-top: 10px;
      border-bottom: none;
      border-top: none;
      height: auto;
    }
  }
  &--search {
    @include flexify($dir: row, $just: space-between, $align: center);
    margin-bottom: 20px;
    @include medq("medium") {

    }
    h2 {
      margin: 0;
      padding: 6px 0px 10px 2px;
      @include medq("large") {
        margin-left: 20px;
      }
    }
    fieldset {
      padding: 9px 2px 10px 10px;
      border-bottom: $primary-border;
      border-left: $primary-border;
      @include medq("medium") {
        padding: 9px 15px 10px 285px;
      }
      @include medq("large") {
        padding-left: calc(40% + 10px);
      }
      @include medq("xlarge") {
        padding-left: calc(40% + 25px);
      }
    }
  }
}

.alert {
  @include flexify($just: space-between);
  color: $white;
  background: $project-purple;
  border-radius: 3px;
  margin: 0 auto 20px auto;
  padding: 5px;
  width: 90%;
  @include medq("medium") {
    width: 95%;
  }
}

.container--traffic {
  @include flexify($dir: column);
  @include medq("medium") {
    @include flexify($just: space-between, $dir: row);
  }
  @include medq("large") {
    margin-right: 20px;
  }
  h2 {
    order: 2;
    @include medq("medium") {
      order: 0;
    }
  }
}

.container--traffic h2,
.container--daily h2,
.container--mobile h2 {
  text-transform: uppercase;
  font-size: 13px;
  margin-left: 5px;
  font-weight: bold;
  @include medq("medium") {
    margin-left: 10px;
  }
}

.container--traffic h2 {
  @include medq("large") {
    margin-left: 20px;
  }
}

.container--daily h2 {
  @include medq("medium") {
    margin-top: 15px;
  }
  @include medq("large") {
    margin: 11px 0 20px 15px;
  }
}

.container--mobile h2 {
  @include medq("large") {
    margin-left: 30px;
  }
}

#firstChart {
  @include medq("medium") {
    width: 97% !important;
    height: 342px !important;
    margin: 18px auto;
  }
  @include medq("large") {
    width: 96% !important;
    height: 342px !important;
    margin: 0 auto;
  }
  @include medq("xlarge") {
    width: 90% !important;
    height: 420px !important;
  }
}

#dailyTraffic {
  @include medq("medium") {
    width: 97% !important;
    height: 175px !important;
    margin: 5px auto;
  }
  @include medq("large") {
    width: 93% !important;
    height: 224px !important;
  }
  @include medq("xlarge") {
    width: 83% !important;
    height: 235px !important;
  }
}

#mobileDoughnut {
  @include medq("large") {
    margin-top: 15px;
  }
  @include medq("xlarge") {
    width: 75% !important;
    height: 85% !important;
  }
}


.container--social {
  @include medq("medium") {
    @include flexify($just: center, $dir: row);
    margin-top: 15px;
  }
  @include medq("large") {
    justify-content: space-around;
    margin-bottom: 35px;
  }
}

.container--twitter,
.container--facebook,
.container--google {
  @include flexify($dir: row);
  background: $input-fields;
  border-radius: 5px;
  margin: 0 10px 10px 10px;
  border: $primary-border;
  @include medq("medium") {
    width: 30%;
    flex-wrap: wrap;
  }
}

.twitter--stats,
.facebook--stats,
.google--stats {
  @include flexify($dir: column);
}

.user__activity {
  @include flexify($just: center, $dir: column);
  margin-top: 20px;
  @include medq("medium") {
    flex-direction: row;
  }
}

.new--members {
  margin-bottom: 40px;
  width: 100%;
  border-top: $primary-border;
  border-bottom: $primary-border;
  @include medq("medium") {
    @include flexify($dir: column, $just: center);
    width: 50%;
    border-bottom: none;
  }
  @include medq("large") {
    margin-bottom: 0;
  }
  &:first-of-type {
    border-bottom: none;
    margin-bottom: 5px;
    @include medq("medium") {
      border-right: $primary-border;
      margin-bottom: 0px;
      justify-content: space-between;
      .member-- {
        &1, &2, &3, &4 {
          padding-bottom: 7px;
        }
      }
      .member--4 {
        padding-bottom: 10px;
      }
    }
    @include medq("large") {
      @include flexify($just: space-between)
    }
  }
  &:last-of-type {
    margin-bottom: 20px;
    @include medq("medium") {
      margin-bottom: 0;
      justify-content: space-between;
    }
  }
  a {
    &:hover {
      cursor: pointer;
    }
  }
  h4 {
    margin: 15px 0 0px 15px;
  }
}

.member {
  &--1,
  &--2,
  &--3 {
    border-bottom: $primary-border;
    height: 65px;
    @include flexify($dir: row, $align: center);
    margin: 0 10px 0 10px;
    @include medq("large") {
      font-size: 14px;
    }
    p:first-of-type {
      margin: 15px 0 0 0;
      @include medq("medium") {
        font-size: 14px;
      }
    }
    p {
      font-size: 13px;
      margin: 0;
    }
    p:last-of-type {
      margin-bottom: 15px;
      margin-left: auto;
    }
    &:last-of-type {
      @include medq("large") {
        padding-bottom: 5px;
      }
    }
  }
  &--4 {
    @include flexify($dir: row, $align: center);
    height: 65px;
    margin: 0 10px 0 10px;
    @include medq("large") {
      font-size: 14px;
    }
    p:first-of-type {
      margin: 15px 0 0 0;
      @include medq("medium") {
        font-size: 14px;
      }
    }
    p {
      font-size: 13px;
      margin: 0;
    }
    p:last-of-type {
      margin-bottom: 15px;
        margin-left: auto;
    }
  }
}

// Fixing alignment for new members and recent activity.
.r1 {
  padding: 6px 0;
  @include medq("medium") {
    margin: -4px 10px 6px 10px;
    padding: 0 0 5px 0;
  }
}

.r2 {
  padding: 6px 0;
  @include medq("medium") {
    margin: -10px 10px -4px 10px;
    padding: 0 0 6px 0;
  }
}

.r3 {
  padding: 6px 0;
  @include medq("medium") {
    margin: 0 10px 2px 10px;
    padding: 0 0 4px 0;
  }
}

.r4 {
  padding: 6px 0;
  @include medq("medium") {
    margin: -8px 10px 5px 10px;
    padding: 0 0 6px 0;
  }
  @include medq("large") {
    padding-bottom: 1px;
  }
}

.date {
  display: none;
  @include medq("medium") {
    display: block;
  }
}

.new--members a:last-of-type {
  @include medq("large") {
    padding-bottom: 5px;
  }
}

.message--user {
  @include flexify($dir: column);
}


// Toggle Switch
.switch-ios.switch-toggle {
  background-color: $black;
  width: 100%;
  font-weight: bold;
  font-size: 13px;
  height: 32px;
  @include medq("medium") {
    width: 40%;
  }
}

.switch-toggle label:hover {
  cursor: pointer;
}

.switch-ios input:checked + label {
  color: $white;
  outline: 0;
}

.switch-ios.switch-toggle a {
  border: none;
}

.switch-light {
  outline: 0;
  width: 60%;
  margin-left: 30px;
  @include medq("medium") {
    width: 55%;
  }
}

.switch-ios.switch-light input:checked ~ span {
  border-color: $project-purple;
  box-shadow: inset 0 0 0 30px $project-purple;
  a {
    border-color: $project-purple;
  }
}

.switch-ios.switch-light > span {
  @include medq("medium") {
    width: 90%;
  }
  @include medq("large") {
    width: 70%;
  }
}

.switch-ios.switch-light > span span {
  top: 1px;
  font-weight: bold;
}

.switch-ios.switch-light input ~ span a {
  outline: 0;
}

.switch-ios.switch-light input:checked ~ span a {
  outline: 0;
}

.settings--notifications,
.public {
  margin: 0 0 10px 5px;
  @include flexify($dir: row, $just: space-between, $align: center);
  @include medq("medium") {
    margin-top: 6px;
    justify-content: flex-start;
  }
  @include medq("large") {
    margin: 5px 0 7px 5px;
  }
}

.settings {
  @include flexify($dir: column, $just: center);
  border-top: $primary-border;
  margin-top: 20px;
  @include medq("medium") {
    margin: 0;
    padding: 0 0 30px 8px;
    border-top: none;
    border-left: $primary-border;
    width: 48%;
  }
  @include medq("large") {
    padding-left: 7px;
    width: 49%;
  }
  h4 {
    @include medq("medium") {
      margin: 20px 0 5px 0;
    }
  }
}

.center {
  @include flexify($just: center);
  #save {
    @include medq("medium") {
      margin-right: 10px;
    }
    @include medq("xlarge") {
      margin: 20px 20px 20px 8px;
    }
  }
  @include medq("xlarge") {
    justify-content: space-around;
  }
}

.message-settings {
  @include medq("medium") {
    @include flexify($just: space-around);
    border-top: $primary-border;
    fieldset {
      @include medq("medium") {
        width: 47%;
        margin-top: 20px;
      }
      @include medq("large") {
        padding: 0 10px;
      }
    }
  }
}

.settings--p {
  font-size: 14px;
  @include medq("medium") {
    width: 52%;
    margin-right: -50px;
  }
  @include medq("large") {
    width: 44%;
  }
}

.onoff {
  width: 50%;
  @include medq("medium") {
    width: 51%;
  }
  @include medq("large") {
    width: 50%;
  }
}

.main-content {
  @include medq("large") {
  width: 100%;
  }
}

// Margin issue in firefox, fixed
@-moz-document url-prefix() {
  @include medq("medium") {
    .message--user {
      margin-top: -42px;
    }
  }
}
