header {
  @include flexify($just: space-between, $align: center);
  height: 75px;
  width: 100%;
  margin-top: 0;
  padding: 0;
  background: $header;
  @include medq("medium") {
    height: 100px;
  }
  h1 {
    font-family: $font-stack-title-bold;
    margin: 0 0 0 10px;
    color: $white;
    display: block;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    @include medq("medium") {
      font-size: 20px;
      margin: 0 0 0 20px;
    }
  }
  span {
    font-weight: 300;
    font-family: $font-stack-title-thin;
    color: $white;
  }
}

.container--header {
  @include flexify($just: space-between, $align: center);
  @include medq("medium") {
    justify-content: flex-end;
  }
}
