
.bell {
  @extend %bell-styling;
  & .number {
    @extend %notification-number;
  }
  & svg {
    transform: perspective(1px) translateZ(0);
    transform-origin: center center;
    transition: 0.3s ease-out transform;
  }
  &:hover svg {
    transform: rotate(15deg);
  }
}

.profile {
  @extend %profile-picture;
}

// Notification Box Photos
.note-photo-1, .note-photo-2, .note-photo-3 {
  @extend %notification-pictures;
}

// Times Icon
.alert {
  .fa, .fas {
    @extend %times-styling;
  }
}

.member__photo {
  &--1, &--2, &--3, &--4 {
    @extend %member-photo;
  }
}

.twitter--image,
.facebook--image,
.google--image {
  @extend %social-circle;
}

.twitter--svg {
  @extend %twitter;
}

.facebook--svg {
  @extend %facebook;
}

.google--svg {
  @extend %google;
}

// Arrow Icon
.fa-angle-right {
  color: $project-purple;
  font-size: 30px;
}

.arrow:last-of-type {
  margin-left: auto;
}
