
.user--name {
  display: none;
  color: $white;
  font-size: 13px;
  @include medq("medium") {
    display: block;
    order: 2;
    margin-left: 12px;
  }
}

.twitter--stats,
.facebook--stats,
.google--stats {
  h3 {
    margin: 10px 0 0 0;
    color: $project-purple;
  }
  span {
    margin: 0 0 10px 0;
    font-size: 40px;
    font-weight: lighter;
  }
}

h4 {
  text-transform: uppercase;
  margin-left: 0;
  font-family: $font-stack-primary;
  font-size: 14px;
  @include medq("medium") {
    margin: 0 0 5px 15px;
  }
}

.container--charts + h4 {
  margin-left: 5px;
  @include medq("large") {
    margin: 20px 0 20px 20px;
  }
}

.settings > h4 {
  margin-left: 5px;
}

.close {
  border: 1px solid white;
  font-weight: bold;
  padding: 0px 10px 0px 10px;
  &:hover {
    cursor: pointer;
  }
}

.error-alert {
  color: $error-alert;
  @include medq("medium") {
    margin-bottom: -35px;
  }
}

.success-alert {
  color: $success-alert;
  @include medq("medium") {
    margin-bottom: -20px;
  }
}
